{% extends 'base/main.html' %}

{% block title %}Contact | {% endblock title %}

{% block contactactive %}active{% endblock contactactive %}

{% block content %}

<div class="container">

    <h1 class="my-3">Contact Us</h1>

    <form action="/contact/" method="POST">
        {% csrf_token %}
        <div class="form-gtoup mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
                placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                placeholder="Enter Your E-mail">
        </div>
        <div class="form-group">
            <label for="content" class="form-label">How may we help you</label>
            <textarea class="form-control" name="content" id="content" cols="30" rows="8"
                placeholder="Your Message!"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{% endblock content %}